.header {
    background-color: #121829;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    /* border-left: 1px solid red;
    border-right: 1px solid red; */
}


.logo {
    margin-left: 100px;
    width: 60px;
    height: 60px;
    border-radius: 20%;
}
@media (max-width: 630px) {
    .logo {
        margin-left: 10px;
    }
}

.navbar {
    margin-right: 100px;
}
@media (max-width: 630px) {
    .navbar {
        margin-right: 10px
    }
}


.navbar ul {
    display: flex;
    column-gap: 50px;
}

.navbar_elem span {
    color: #a8aebf;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 2%;
}